header {
    background-color:orangered
}

main {
    padding: 16px;
}

.page-nav {
color:white;
}

h1 {
    color:darkgreen
}
h2 {
    color: black
}

a {
    text-decoration: none;
    color:olivedrab
}
.taco-layout {
    display:grid;
    grid-template-columns: auto auto auto auto;
}
tr:nth-child(even) {
    background-color: lightgrey;

}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color:yellowgreen;
    margin-top: 50px;
    text-indent: 25px;
    font-size: 12px
}
img {
    height: 200px;
}

nav {
    border-bottom: 1px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
}

body {
    margin: 0px;
}
